.app-divBody {
  display: grid;
  grid-template-columns: 80% 20%;
  column-gap: 10px;
  padding: 10px;
  width: 100%;
  height: 100vh;
}

.app-grid1 {
  display: flex;
  width: 100%;
  justify-content: center;
}

.app-grid2 {
  display: flex;
  width: 100%;
  justify-content: center;
}